:root {
  --main-color: #1928f0;
  --dark-text-color: #16181e;
  --text-color: #2f333f;
  --light-text-color: #484848;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-V.ttf');
}

* {
  font-family: 'Inter';
}

body {
  background-color: #f8f7fa;
  padding-inline: 180px;
}

header {
  height: 52px;
  line-height: 52px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-text-color);
}

.main-form {
  background: white;
  border-radius: 12px;
  padding: 24px 20px;
}

.v-btn {
  height: 60px !important;
  border-radius: 12px !important;
  background-color: #f6f6f6 !important;
  color: var(--dark-text-color) !important;
  text-transform: none !important;
}
.v-btn.bg-primary {
  background-color: var(--main-color) !important;
}
.v-field {
  border-radius: 12px !important;
}
.v-select .v-icon::before {
  background: url(./assets/icons/arrow.svg);
  content: '';
  width: 18px;
  height: 18px;
}
.v-overlay__content.v-select__content {
  border-radius: 12px !important;
}
.v-field--variant-outlined.v-field--focused .v-field__outline {
  --v-field-border-width: 1px !important;
  color: var(--main-color);
}
.v-input__details {
  padding: 0px 0px 4px 6px !important;
}
